/.deps/
/INSTALL
/Makefile
/Makefile.in
/aclocal.m4
/autom4te.cache/
/build-aux
/build-aux/
/config.h
/config.h.in
/config.log
/config.status
/configure
/f5gs
/f5gs.8
/f5gs.c~
/f5gs.o
/f5gs.service
/f5gs.socket
/gnulib
/lib/
/libtool
/m4/
/sd-daemon.o
/stamp-h1
/test-suite.log
/tests/*.log
/tests/*.trs
/tests/outputs/
