/*.o
/*~
/tests/*.log
/tests/*.trs

/.deps/
/autom4te.cache/
/build-aux/
/lib/
/m4/
/tests/outputs/

/INSTALL
/Makefile
/Makefile.in
/aclocal.m4
/build-aux
/config.h
/config.h.in
/config.log
/config.status
/configure
/f5gs
/f5gs.8
/f5gs.service
/f5gs.socket
/gnulib
/libtool
/stamp-h1
/test-suite.log
